@import 'https://fonts.googleapis.com/css?family=Abhaya+Libre';

ul {
  padding: 0;
}

a {
  text-decoration: none;
}

.article__list li {
    display: inline-block;
    vertical-align: top;
}

figure {
  background-color: white;
  width: 275px;
  height: 350px;
  padding-top: 50px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 20px;
  border: 3px solid #555;
  border-radius: 8px;
  position: relative;
}

.article__points {
  position: absolute;
  top: 0;
  left: 14px;
}

.article__points i {
  color: #888;
}

.article__points .fa-arrow-circle-up {
  position: absolute;
  top: 16px;
  left: 210px;
}

.article__points .fa-arrow-circle-up:hover {
  color: #56b863;
  cursor: pointer;
}

.article__points .fa-arrow-circle-down {
  position: absolute;
  top: 16px;
  left: 232px;
}

.article__points .fa-arrow-circle-down:hover {
  color: #d74b1f;
  cursor: pointer;
}

.article__points span {
  color: #444;
  font-weight: 700;
}

.article__pic {
  width: 90%;
}

.article__title {
  position: absolute;
  font-size: 20px;
  font-family: 'Abhaya Libre', serif;
  font-weight: 400;
  color: #222;
  padding: 0 10px;
  bottom:0;
}

.--liked {
  color: #56b863 !important;
}

.--disliked {
  color: #d74b1f !important;
}
