.App-social-buttons {
  height: 70px;
  background-color: #001;
}

.social__nav {
  list-style-type: none;
  padding: 0;
}

.social__nav li {
  display: inline-block;
  margin-top: 10px;
  padding: 10px;
  font-size: 15px;
  margin-left: 6px;
  margin-right: 6px;
  width: 20px;
  border-radius: 4px;
  background-color: #fff;
}

.fa-facebook, .fa-codepen, .fa-github, .fa-vk{
  color: #001;
  transition: color 0.5s ease;
}

.fa-facebook:hover{color: #FF851B;}
.fa-codepen:hover{color: #FF851B;}
.fa-github:hover{color: #FF851B;}
.fa-vk:hover{color: #FF851B;}
