.App {
  text-align: center;
}

.App-header {
  padding: 0;
  background-color: #999;
}

.App-main-nav {
  height: 60px;
  background-color: white;
}

.App-nav {
  height: 40px;
  background-color: #444;
}

.App-footer {
  height: 90px;
  background-color: #111;
}
